.modal-div {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    padding: 16px;
    font-family: 'Arial', sans-serif;
}

.modal-contenido {
    background: white;
    padding: 24px;
    border-radius: 8px;
    width:55vw !important;
    max-height: 80vh;
    overflow-y: auto;
    position: relative;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

h1 {
    font-size: clamp(1.5rem, 5vw, 3rem);
}

.btn-cerrar {
    position: absolute;
    top: 8px;
    right: 8px;
    background: #ccc;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    cursor: pointer;
}

.lista-notificaciones {
    list-style: none;
    padding: 0;
    margin-top: 1rem;
}

.notificacion {
    background: #f9f9f9;
    margin-bottom: 12px;
    padding: 12px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.95rem;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
    word-break: break-word;
    gap: 8px;
}

.notificacion.nueva {
    background: #fff4f4;
    border-left: 4px solid #FF5A5F;
}

.notificacion.leida {
    background: #f0f0f0;
    color: #888;
}

.btn-leer {
    background: #FF5A5F;
    color: white;
    border: none;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: 0.8rem;
    cursor: pointer;
    min-width: 63px;
}

.btn-leer:hover {
    background: #e04b50;
}



